table {
    table-layout: fixed;
    border-collapse: collapse;
    border: 3px solid black;
}

td {
    font-size: 20px;
    background-color: aliceblue;
    text-align: center;
}

th, td {
    border: 1px solid black;
    padding: 20px;
  }

td.characterImage img {
    object-fit: fill;
}

.content {
    display: flex;
    justify-content: space-around;
}

#title {
    display: flex;
    align-content: center;
    justify-content: center;
}

.example-radio-group {
    display: flex;
    flex-direction: row;
    margin: 15px 0;
    align-items: center;
    justify-content: center;
  }
  
  .example-radio-button {
    margin: 5px;
  }
  
#form {
    display: flex;
    text-align: center;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    align-items: center;
    width: 25%;
    margin: auto;
}

.buttons-option{
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    margin: 10px;
}

#idUsuario {
    text-align: center;
}