<div id="form">
  <label id="example-radio-group-label">Pick what do you want do</label>
  <mat-radio-group
    aria-labelledby="example-radio-group-label"
    class="example-radio-group"
    [(ngModel)]="optionSelected">
    <mat-radio-button class="example-radio-button" *ngFor="let option of options" [value]="option">
      {{option}}
    </mat-radio-button>
  </mat-radio-group>
</div>


<div *ngIf="optionSelected == 'Create'">
  <form (ngSubmit)="criar()" id="form">
    <h1>Forms Create</h1>
    <input id="nomeUsuario" name="nomeUsuario" type="text" [(ngModel)]="nomeUsuario" #name="ngModel" placeholder="Insira o nome"/>
    <input id="emailUsuario" name="emailUsuario" type="text" [(ngModel)]="emailUsuario" #name="ngModel" placeholder="Insira o email"/>
    <div class="buttons-option">
      <button type="submit">
        Criar
      </button>
      <button type="button" (click)="limpar()">
        Limpar
      </button>
    </div>
  </form>
</div>

<div *ngIf="optionSelected == 'Update'">
  <form (ngSubmit)="atualizar()" id="form">
    <h1>Forms Update</h1>
    <label>Id to update:</label>
    <input id="idUsuario" name="idUsuario" type="number" [(ngModel)]="idUsuario" #name="ngModel" placeholder="Insira o id"/>
    <input id="nomeUsuario" name="nomeUsuario" type="text" [(ngModel)]="nomeUsuario" #name="ngModel" placeholder="Insira o nome"/>
    <input id="emailUsuario" name="emailUsuario" type="text" [(ngModel)]="emailUsuario" #name="ngModel" placeholder="Insira o email"/>
    <div class="buttons-option">
      <button type="submit">
        Atualizar
      </button>
      <button type="button" (click)="limpar()">
        Limpar
      </button>
    </div>
  </form>
</div>

<div *ngIf="optionSelected == 'Delete'">
  <form (ngSubmit)="deletar()" id="form">
    <h1>Forms Delete</h1>
    <label>Id to delete:</label>
    <input id="idUsuario" name="idUsuario" type="number" [(ngModel)]="idUsuario" #name="ngModel" placeholder="Insira o id"/>
    <div class="buttons-option">
      <button type="submit">
        Deletar
      </button>
      <button type="button" (click)="limpar()">
        Limpar
      </button>
    </div>
  </form>
</div>

<h1 id="title"> List of users of system </h1>
<div class="content">
  <table mdbTable bordered="true">
    <thead>
      <tr>
        <th *ngFor="let head of headElements" scope="col">{{ head }} </th>
      </tr>
    </thead>
    <tbody>
      <tr mdbTableCol *ngFor="let data of listOfData">
        <td>
          {{ data.id }}
        </td>
        <td>
          {{ data.name }}
        </td>
        <td>
          {{ data.email }}
        </td>
      </tr>
    </tbody>
  </table>
</div>