<h1 id="title"> List of users of system </h1>
<div class="content">
  <table mdbTable bordered="true">
    <thead>
      <tr>
        <th *ngFor="let head of headElements" scope="col">{{ head }} </th>
      </tr>
    </thead>
    <tbody>
      <tr mdbTableCol *ngFor="let data of listOfData">
        <td class="characterName">
          {{ data.id }}
        </td>
        <td>
          {{ data.name }}
        </td>
        <td>
          {{ data.email }}
        </td>
      </tr>
    </tbody>
  </table>
</div>